/*------------------------------------------------------------*\
    Home
\*------------------------------------------------------------*/
$hoofdfont: "Raleway", sans-serif;
$secondfont: 'Montserrat', sans-serif;

$tijdkleur: #ff7b54;
$datumkleur: transparent;
$textkleur: #fff;
$overlaykleur: rgba(28, 28, 28, 0.75);
$videohoogte: 100vh;
$videobreedtte: 100%;

.container {
  &__h4 {
    font-weight: lighter;
  }
}

.videoContainer {
    position: relative;
    width: $videobreedtte;
    height: $videohoogte;
    overflow: hidden;
    z-index: -100;
}
.videoContainer video {
    min-width: $videobreedtte;
    min-height: $videohoogte;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: $videohoogte;
    width: $videobreedtte;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: $overlaykleur;
}

.informatie {
  color: white;
  position: absolute;
  top: 30%;
  left: 5%;

  &__lead {
    margin-bottom: 0rem;
  }

  &__h1 {
    font-family: $secondfont;
    text-transform: uppercase;
    }
  }

  .shopcommercelogo img{
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2.5%;
  }


.datum {
  background-color: $datumkleur;
  border-bottom:2px solid white;
  color: $textkleur!important;
}

.tijd {
  background-color: $datumkleur;
  border-bottom: 2px solid white;
  color: $textkleur!important;
}

.voorkeurspartners {
  width: 100%;

  &__links {
    width: 85%;
    float: left;
  }

  &__rechts {
    width: 15%;
    float: right;
    color: white;
    font-size: 3em;
  }
  & img {
    margin-left: 5%;
    padding-bottom: 2.5%;
    width: 125px;

    &.weather-icon  {
      float:left;
      width: 77px;
    }
  }
}


.lead {
  font-size: 2rem!important;
  margin-top: 1%;

  &__right {
    margin-left: 2.5%;
  }
}
