/*------------------------------------------------------------*\
    Page
\*------------------------------------------------------------*/
$buttoncolor: #69b745;
$buttonhovercolor: #35a300;

body {
  background-image: url("../images/backgroundwelkomscherm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.invoerscherm {
  margin-top: 25%;
  background-color: rgba(244, 244, 244, 0.95);
  border: 2px solid rgba(0, 0, 0, 0.075);
  padding: 2.5%;

  &__button {
    background-color: $buttoncolor;
    border: 2px solid $buttoncolor;

    &:hover {
      background-color: $buttonhovercolor;
      border: 2px solid $buttonhovercolor;
    }
  }
}
